<div id="site_wrapper">
	<div id="header">
		<h1>Find the perfect vendor</h1>
		<div class="popout">
	      	<input type="text" id="profile_input" placeholder="Search by name" />
		 	<button id="search_btn">Search</button>
		</div>
	</div>
	<div id="loading_bar"></div>

	<div class="container-fluid" id="profile_container"></div>
</div>